In [1]:
pip install mlxtend

Defaulting to user installation because normal site-packages is not writeable
Collecting mlxtend
  Downloading mlxtend-0.23.1-py3-none-any.whl.metadata (7.3 kB)
Requirement already satisfied: scipy>=1.2.1 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.11.4)
Requirement already satisfied: numpy>=1.16.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.26.4)
Requirement already satisfied: pandas>=0.24.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (2.1.4)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.2.2)
Requirement already satisfied: matplotlib>=3.0.0 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (3.8.0)
Requirement already satisfied: joblib>=0.13.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.2.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\rajesh\appdata\roaming\python\python311\site-packages (from matplotlib>=3.0.0->mlxtend) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2023.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Downloading mlxtend-0.23.1-py3-none-any.whl (1.4 MB)
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
   - -------------------------------------- 0.1/1.4 MB 660.6 kB/s eta 0:00:03
   ----- ---------------------------------- 0.2/1.4 MB 1.6 MB/s eta 0:00:01
   --------------- ------------------------ 0.6/1.4 MB 3.6 MB/s eta 0:00:01
   -------------------------- ------------- 1.0/1.4 MB 4.7 MB/s eta 0:00:01
   -------------------------------------- - 1.4/1.4 MB 5.5 MB/s eta 0:00:01
   ---------------------------------------- 1.4/1.4 MB 5.1 MB/s eta 0:00:00
Installing collected packages: mlxtend
Successfully installed mlxtend-0.23.1
Note: you may need to restart the kernel to use updated packages.

##### Created data set

In [3]:
dataset=[
    ['Apple','Beer','Rice','Chicken'],
    ['Apple','Beer','Rice'],
    ['Apple','Beer'],
    ['Apple','Pear'],
    ['Milk','Beer','Rice','Chicken'],
    ['Milk','Beer','Rice'],
    ['Milk','Beer'],
    ['milk','Pear']
]

In [4]:
dataset

[['Apple', 'Beer', 'Rice', 'Chicken'],
 ['Apple', 'Beer', 'Rice'],
 ['Apple', 'Beer'],
 ['Apple', 'Pear'],
 ['Milk', 'Beer', 'Rice', 'Chicken'],
 ['Milk', 'Beer', 'Rice'],
 ['Milk', 'Beer'],
 ['milk', 'Pear']]

In [6]:
import pandas as pd 
from mlxtend.preprocessing import TransactionEncoder

In [7]:
te= TransactionEncoder()
encoded=te.fit_transform(dataset)

In [8]:
encoded

array([[ True,  True,  True, False, False,  True, False],
       [ True,  True, False, False, False,  True, False],
       [ True,  True, False, False, False, False, False],
       [ True, False, False, False,  True, False, False],
       [False,  True,  True,  True, False,  True, False],
       [False,  True, False,  True, False,  True, False],
       [False,  True, False,  True, False, False, False],
       [False, False, False, False,  True, False,  True]])

In [9]:
te.columns_

['Apple', 'Beer', 'Chicken', 'Milk', 'Pear', 'Rice', 'milk']

In [10]:
df=pd.DataFrame(encoded,columns=te.columns_)

In [11]:
df

   Apple   Beer  Chicken   Milk   Pear   Rice   milk
0   True   True     True  False  False   True  False
1   True   True    False  False  False   True  False
2   True   True    False  False  False  False  False
3   True  False    False  False   True  False  False
4  False   True     True   True  False   True  False
5  False   True    False   True  False   True  False
6  False   True    False   True  False  False  False
7  False  False    False  False   True  False   True

In [12]:
from mlxtend.frequent_patterns import apriori, association_rules

In [13]:
freq_itemset=apriori(df,min_support=0.25,use_colnames=True)

In [14]:
freq_itemset

    support               itemsets
0     0.500                (Apple)
1     0.750                 (Beer)
2     0.250              (Chicken)
3     0.375                 (Milk)
4     0.250                 (Pear)
5     0.500                 (Rice)
6     0.375          (Beer, Apple)
7     0.250          (Rice, Apple)
8     0.250        (Chicken, Beer)
9     0.375           (Beer, Milk)
10    0.500           (Beer, Rice)
11    0.250        (Chicken, Rice)
12    0.250           (Rice, Milk)
13    0.250    (Beer, Rice, Apple)
14    0.250  (Chicken, Beer, Rice)
15    0.250     (Beer, Rice, Milk)

In [15]:
rules= association_rules(freq_itemset,metric='confidence', min_threshold=0.5)

In [16]:
rules.shape

(28, 10)

In [17]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Beer),(Apple),0.750,0.500,0.375,0.500000,1.000000,0.00000,1.00,0.000000
1,(Apple),(Beer),0.500,0.750,0.375,0.750000,1.000000,0.00000,1.00,0.000000
2,(Rice),(Apple),0.500,0.500,0.250,0.500000,1.000000,0.00000,1.00,0.000000
3,(Apple),(Rice),0.500,0.500,0.250,0.500000,1.000000,0.00000,1.00,0.000000
4,(Chicken),(Beer),0.250,0.750,0.250,1.000000,1.333333,0.06250,inf,0.333333
5,(Beer),(Milk),0.750,0.375,0.375,0.500000,1.333333,0.09375,1.25,1.000000
6,(Milk),(Beer),0.375,0.750,0.375,1.000000,1.333333,0.09375,inf,0.400000
7,(Beer),(Rice),0.750,0.500,0.500,0.666667,1.333333,0.12500,1.50,1.000000
8,(Rice),(Beer),0.500,0.750,0.500,1.000000,1.333333,0.12500,inf,0.500000
9,(Chicken),(Rice),0.250,0.500,0.250,1.000000,2.000000,0.12500,inf,0.666667
10,(Rice),(Chicken),0.500,0.250,0.250,0.500000,2.000000,0.12500,1.50,1.000000
11,(Rice),(Milk),0.500,0.375,0.250,0.500000,1.333333,0.06250,1.25,0.500000
12,(Milk),(Rice),0.375,0.500,0.250,0.666667,1.333333,0.06250,1.50,0.400000
13,"(Beer, Rice)",(Apple),0.500,0.500,0.250,0.500000,1.000000,0.00000,1.00,0.000000
14,"(Beer, Apple)",(Rice),0.375,0.500,0.250,0.666667,1.333333,0.06250,1.50,0.400000
15,"(Rice, Apple)",(Beer),0.250,0.750,0.250,1.000000,1.333333,0.06250,inf,0.333333
16,(Rice),"(Beer, Apple)",0.500,0.375,0.250,0.500000,1.333333,0.06250,1.25,0.500000
17,(Apple),"(Beer, Rice)",0.500,0.500,0.250,0.500000,1.000000,0.00000,1.00,0.000000
18,"(Chicken, Beer)",(Rice),0.250,0.500,0.250,1.000000,2.000000,0.12500,inf,0.666667
19,"(Chicken, Rice)",(Beer),0.250,0.750,0.250,1.000000,1.333333,0.06250,inf,0.333333
20,"(Beer, Rice)",(Chicken),0.500,0.250,0.250,0.500000,2.000000,0.12500,1.50,1.000000
21,(Chicken),"(Beer, Rice)",0.250,0.500,0.250,1.000000,2.000000,0.12500,inf,0.666667
22,(Rice),"(Chicken, Beer)",0.500,0.250,0.250,0.500000,2.000000,0.12500,1.50,1.000000
23,"(Beer, Rice)",(Milk),0.500,0.375,0.250,0.500000,1.333333,0.06250,1.25,0.500000
24,"(Beer, Milk)",(Rice),0.375,0.500,0.250,0.666667,1.333333,0.06250,1.50,0.400000
25,"(Milk, Rice)",(Beer),0.250,0.750,0.250,1.000000,1.333333,0.06250,inf,0.333333
26,(Rice),"(Beer, Milk)",0.500,0.375,0.250,0.500000,1.333333,0.06250,1.25,0.500000
27,(Milk),"(Beer, Rice)",0.375,0.500,0.250,0.666667,1.333333,0.06250,1.50,0.400000

In [18]:
rules= rules[['antecedents','consequents', 'support','confidence']]

In [19]:
rules

        antecedents      consequents  support  confidence
0            (Beer)          (Apple)    0.375    0.500000
1           (Apple)           (Beer)    0.375    0.750000
2            (Rice)          (Apple)    0.250    0.500000
3           (Apple)           (Rice)    0.250    0.500000
4         (Chicken)           (Beer)    0.250    1.000000
5            (Beer)           (Milk)    0.375    0.500000
6            (Milk)           (Beer)    0.375    1.000000
7            (Beer)           (Rice)    0.500    0.666667
8            (Rice)           (Beer)    0.500    1.000000
9         (Chicken)           (Rice)    0.250    1.000000
10           (Rice)        (Chicken)    0.250    0.500000
11           (Rice)           (Milk)    0.250    0.500000
12           (Milk)           (Rice)    0.250    0.666667
13     (Beer, Rice)          (Apple)    0.250    0.500000
14    (Beer, Apple)           (Rice)    0.250    0.666667
15    (Rice, Apple)           (Beer)    0.250    1.000000
16           (Rice)    (Beer, Apple)    0.250    0.500000
17          (Apple)     (Beer, Rice)    0.250    0.500000
18  (Chicken, Beer)           (Rice)    0.250    1.000000
19  (Chicken, Rice)           (Beer)    0.250    1.000000
20     (Beer, Rice)        (Chicken)    0.250    0.500000
21        (Chicken)     (Beer, Rice)    0.250    1.000000
22           (Rice)  (Chicken, Beer)    0.250    0.500000
23     (Beer, Rice)           (Milk)    0.250    0.500000
24     (Beer, Milk)           (Rice)    0.250    0.666667
25     (Milk, Rice)           (Beer)    0.250    1.000000
26           (Rice)     (Beer, Milk)    0.250    0.500000
27           (Milk)     (Beer, Rice)    0.250    0.666667

###### sort the rules

In [20]:
rules.sort_values(by=['confidence', 'support'], ascending=False)

        antecedents      consequents  support  confidence
8            (Rice)           (Beer)    0.500    1.000000
6            (Milk)           (Beer)    0.375    1.000000
4         (Chicken)           (Beer)    0.250    1.000000
9         (Chicken)           (Rice)    0.250    1.000000
15    (Rice, Apple)           (Beer)    0.250    1.000000
18  (Chicken, Beer)           (Rice)    0.250    1.000000
19  (Chicken, Rice)           (Beer)    0.250    1.000000
21        (Chicken)     (Beer, Rice)    0.250    1.000000
25     (Milk, Rice)           (Beer)    0.250    1.000000
1           (Apple)           (Beer)    0.375    0.750000
7            (Beer)           (Rice)    0.500    0.666667
12           (Milk)           (Rice)    0.250    0.666667
14    (Beer, Apple)           (Rice)    0.250    0.666667
24     (Beer, Milk)           (Rice)    0.250    0.666667
27           (Milk)     (Beer, Rice)    0.250    0.666667
0            (Beer)          (Apple)    0.375    0.500000
5            (Beer)           (Milk)    0.375    0.500000
2            (Rice)          (Apple)    0.250    0.500000
3           (Apple)           (Rice)    0.250    0.500000
10           (Rice)        (Chicken)    0.250    0.500000
11           (Rice)           (Milk)    0.250    0.500000
13     (Beer, Rice)          (Apple)    0.250    0.500000
16           (Rice)    (Beer, Apple)    0.250    0.500000
17          (Apple)     (Beer, Rice)    0.250    0.500000
20     (Beer, Rice)        (Chicken)    0.250    0.500000
22           (Rice)  (Chicken, Beer)    0.250    0.500000
23     (Beer, Rice)           (Milk)    0.250    0.500000
26           (Rice)     (Beer, Milk)    0.250    0.500000

##### Filter the rules

In [21]:
nrules=rules[rules['confidence']>0.5]

In [22]:
nrules.shape

(15, 4)

In [23]:
nrules

        antecedents   consequents  support  confidence
1           (Apple)        (Beer)    0.375    0.750000
4         (Chicken)        (Beer)    0.250    1.000000
6            (Milk)        (Beer)    0.375    1.000000
7            (Beer)        (Rice)    0.500    0.666667
8            (Rice)        (Beer)    0.500    1.000000
9         (Chicken)        (Rice)    0.250    1.000000
12           (Milk)        (Rice)    0.250    0.666667
14    (Beer, Apple)        (Rice)    0.250    0.666667
15    (Rice, Apple)        (Beer)    0.250    1.000000
18  (Chicken, Beer)        (Rice)    0.250    1.000000
19  (Chicken, Rice)        (Beer)    0.250    1.000000
21        (Chicken)  (Beer, Rice)    0.250    1.000000
24     (Beer, Milk)        (Rice)    0.250    0.666667
25     (Milk, Rice)        (Beer)    0.250    1.000000
27           (Milk)  (Beer, Rice)    0.250    0.666667

In [24]:
nrules[nrules['antecedents']=={'Rice'}]

  antecedents consequents  support  confidence
8      (Rice)      (Beer)      0.5         1.0

In [25]:
nrules[nrules['antecedents']=={'Rice'}]['consequents']

8    (Beer)
Name: consequents, dtype: object

In [26]:
nrules[nrules['antecedents']=={'Apple','Beer'}]['consequents']

14    (Rice)
Name: consequents, dtype: object

###### Export the rules

In [27]:
nrules.to_csv('rules.csv',index=False)