In [1]:
pip install mlxtend

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mlxtend in c:\users\rajesh\appdata\roaming\python\python311\site-packages (0.23.1)
Requirement already satisfied: scipy>=1.2.1 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.11.4)
Requirement already satisfied: numpy>=1.16.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.26.4)
Requirement already satisfied: pandas>=0.24.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (2.1.4)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.2.2)
Requirement already satisfied: matplotlib>=3.0.0 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (3.8.0)
Requirement already satisfied: joblib>=0.13.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.2.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\rajesh\appdata\roaming\python\python311\site-packages (from matplotlib>=3.0.0->mlxtend) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2023.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

##### Created data set

In [2]:
dataset=[
    ['Apple','Beer','Rice','Chicken'],
    ['Apple','Beer','Rice'],
    ['Apple','Beer'],
    ['Apple','Pear'],
    ['Milk','Beer','Rice','Chicken'],
    ['Milk','Beer','Rice'],
    ['Milk','Beer'],
    ['milk','Pear']
]

In [3]:
dataset

[['Apple', 'Beer', 'Rice', 'Chicken'],
 ['Apple', 'Beer', 'Rice'],
 ['Apple', 'Beer'],
 ['Apple', 'Pear'],
 ['Milk', 'Beer', 'Rice', 'Chicken'],
 ['Milk', 'Beer', 'Rice'],
 ['Milk', 'Beer'],
 ['milk', 'Pear']]

In [4]:
import pandas as pd 
from mlxtend.preprocessing import TransactionEncoder

In [5]:
te= TransactionEncoder()
encoded=te.fit_transform(dataset)

In [6]:
encoded

array([[ True,  True,  True, False, False,  True, False],
       [ True,  True, False, False, False,  True, False],
       [ True,  True, False, False, False, False, False],
       [ True, False, False, False,  True, False, False],
       [False,  True,  True,  True, False,  True, False],
       [False,  True, False,  True, False,  True, False],
       [False,  True, False,  True, False, False, False],
       [False, False, False, False,  True, False,  True]])

In [7]:
te.columns_

['Apple', 'Beer', 'Chicken', 'Milk', 'Pear', 'Rice', 'milk']

In [8]:
df=pd.DataFrame(encoded,columns=te.columns_)

In [9]:
df

   Apple   Beer  Chicken   Milk   Pear   Rice   milk
0   True   True     True  False  False   True  False
1   True   True    False  False  False   True  False
2   True   True    False  False  False  False  False
3   True  False    False  False   True  False  False
4  False   True     True   True  False   True  False
5  False   True    False   True  False   True  False
6  False   True    False   True  False  False  False
7  False  False    False  False   True  False   True

In [27]:
from mlxtend.frequent_patterns import fpgrowth, association_rules

In [30]:
freq_itemset=fpgrowth(df,min_support=0.25,use_colnames=True)

In [31]:
freq_itemset

    support               itemsets
0     0.750                 (Beer)
1     0.500                 (Rice)
2     0.500                (Apple)
3     0.250              (Chicken)
4     0.250                 (Pear)
5     0.375                 (Milk)
6     0.500           (Rice, Beer)
7     0.375          (Beer, Apple)
8     0.250          (Rice, Apple)
9     0.250    (Rice, Beer, Apple)
10    0.250        (Chicken, Rice)
11    0.250        (Chicken, Beer)
12    0.250  (Chicken, Beer, Rice)
13    0.375           (Milk, Beer)
14    0.250           (Rice, Milk)
15    0.250     (Rice, Milk, Beer)

In [32]:
rules= association_rules(freq_itemset,metric='confidence', min_threshold=0.5)

In [33]:
rules.shape

(28, 10)

In [34]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Rice),(Beer),0.500,0.750,0.500,1.000000,1.333333,0.12500,inf,0.500000
1,(Beer),(Rice),0.750,0.500,0.500,0.666667,1.333333,0.12500,1.50,1.000000
2,(Beer),(Apple),0.750,0.500,0.375,0.500000,1.000000,0.00000,1.00,0.000000
3,(Apple),(Beer),0.500,0.750,0.375,0.750000,1.000000,0.00000,1.00,0.000000
4,(Rice),(Apple),0.500,0.500,0.250,0.500000,1.000000,0.00000,1.00,0.000000
5,(Apple),(Rice),0.500,0.500,0.250,0.500000,1.000000,0.00000,1.00,0.000000
6,"(Rice, Beer)",(Apple),0.500,0.500,0.250,0.500000,1.000000,0.00000,1.00,0.000000
7,"(Rice, Apple)",(Beer),0.250,0.750,0.250,1.000000,1.333333,0.06250,inf,0.333333
8,"(Beer, Apple)",(Rice),0.375,0.500,0.250,0.666667,1.333333,0.06250,1.50,0.400000
9,(Rice),"(Beer, Apple)",0.500,0.375,0.250,0.500000,1.333333,0.06250,1.25,0.500000
10,(Apple),"(Rice, Beer)",0.500,0.500,0.250,0.500000,1.000000,0.00000,1.00,0.000000
11,(Chicken),(Rice),0.250,0.500,0.250,1.000000,2.000000,0.12500,inf,0.666667
12,(Rice),(Chicken),0.500,0.250,0.250,0.500000,2.000000,0.12500,1.50,1.000000
13,(Chicken),(Beer),0.250,0.750,0.250,1.000000,1.333333,0.06250,inf,0.333333
14,"(Chicken, Beer)",(Rice),0.250,0.500,0.250,1.000000,2.000000,0.12500,inf,0.666667
15,"(Chicken, Rice)",(Beer),0.250,0.750,0.250,1.000000,1.333333,0.06250,inf,0.333333
16,"(Rice, Beer)",(Chicken),0.500,0.250,0.250,0.500000,2.000000,0.12500,1.50,1.000000
17,(Chicken),"(Rice, Beer)",0.250,0.500,0.250,1.000000,2.000000,0.12500,inf,0.666667
18,(Rice),"(Chicken, Beer)",0.500,0.250,0.250,0.500000,2.000000,0.12500,1.50,1.000000
19,(Milk),(Beer),0.375,0.750,0.375,1.000000,1.333333,0.09375,inf,0.400000
20,(Beer),(Milk),0.750,0.375,0.375,0.500000,1.333333,0.09375,1.25,1.000000
21,(Rice),(Milk),0.500,0.375,0.250,0.500000,1.333333,0.06250,1.25,0.500000
22,(Milk),(Rice),0.375,0.500,0.250,0.666667,1.333333,0.06250,1.50,0.400000
23,"(Rice, Milk)",(Beer),0.250,0.750,0.250,1.000000,1.333333,0.06250,inf,0.333333
24,"(Rice, Beer)",(Milk),0.500,0.375,0.250,0.500000,1.333333,0.06250,1.25,0.500000
25,"(Milk, Beer)",(Rice),0.375,0.500,0.250,0.666667,1.333333,0.06250,1.50,0.400000
26,(Rice),"(Milk, Beer)",0.500,0.375,0.250,0.500000,1.333333,0.06250,1.25,0.500000
27,(Milk),"(Rice, Beer)",0.375,0.500,0.250,0.666667,1.333333,0.06250,1.50,0.400000

In [35]:
rules= rules[['antecedents','consequents', 'support','confidence']]

In [36]:
rules

        antecedents      consequents  support  confidence
0            (Rice)           (Beer)    0.500    1.000000
1            (Beer)           (Rice)    0.500    0.666667
2            (Beer)          (Apple)    0.375    0.500000
3           (Apple)           (Beer)    0.375    0.750000
4            (Rice)          (Apple)    0.250    0.500000
5           (Apple)           (Rice)    0.250    0.500000
6      (Rice, Beer)          (Apple)    0.250    0.500000
7     (Rice, Apple)           (Beer)    0.250    1.000000
8     (Beer, Apple)           (Rice)    0.250    0.666667
9            (Rice)    (Beer, Apple)    0.250    0.500000
10          (Apple)     (Rice, Beer)    0.250    0.500000
11        (Chicken)           (Rice)    0.250    1.000000
12           (Rice)        (Chicken)    0.250    0.500000
13        (Chicken)           (Beer)    0.250    1.000000
14  (Chicken, Beer)           (Rice)    0.250    1.000000
15  (Chicken, Rice)           (Beer)    0.250    1.000000
16     (Rice, Beer)        (Chicken)    0.250    0.500000
17        (Chicken)     (Rice, Beer)    0.250    1.000000
18           (Rice)  (Chicken, Beer)    0.250    0.500000
19           (Milk)           (Beer)    0.375    1.000000
20           (Beer)           (Milk)    0.375    0.500000
21           (Rice)           (Milk)    0.250    0.500000
22           (Milk)           (Rice)    0.250    0.666667
23     (Rice, Milk)           (Beer)    0.250    1.000000
24     (Rice, Beer)           (Milk)    0.250    0.500000
25     (Milk, Beer)           (Rice)    0.250    0.666667
26           (Rice)     (Milk, Beer)    0.250    0.500000
27           (Milk)     (Rice, Beer)    0.250    0.666667

###### sort the rules

In [37]:
rules.sort_values(by=['confidence', 'support'], ascending=False)

        antecedents      consequents  support  confidence
0            (Rice)           (Beer)    0.500    1.000000
19           (Milk)           (Beer)    0.375    1.000000
7     (Rice, Apple)           (Beer)    0.250    1.000000
11        (Chicken)           (Rice)    0.250    1.000000
13        (Chicken)           (Beer)    0.250    1.000000
14  (Chicken, Beer)           (Rice)    0.250    1.000000
15  (Chicken, Rice)           (Beer)    0.250    1.000000
17        (Chicken)     (Rice, Beer)    0.250    1.000000
23     (Rice, Milk)           (Beer)    0.250    1.000000
3           (Apple)           (Beer)    0.375    0.750000
1            (Beer)           (Rice)    0.500    0.666667
8     (Beer, Apple)           (Rice)    0.250    0.666667
22           (Milk)           (Rice)    0.250    0.666667
25     (Milk, Beer)           (Rice)    0.250    0.666667
27           (Milk)     (Rice, Beer)    0.250    0.666667
2            (Beer)          (Apple)    0.375    0.500000
20           (Beer)           (Milk)    0.375    0.500000
4            (Rice)          (Apple)    0.250    0.500000
5           (Apple)           (Rice)    0.250    0.500000
6      (Rice, Beer)          (Apple)    0.250    0.500000
9            (Rice)    (Beer, Apple)    0.250    0.500000
10          (Apple)     (Rice, Beer)    0.250    0.500000
12           (Rice)        (Chicken)    0.250    0.500000
16     (Rice, Beer)        (Chicken)    0.250    0.500000
18           (Rice)  (Chicken, Beer)    0.250    0.500000
21           (Rice)           (Milk)    0.250    0.500000
24     (Rice, Beer)           (Milk)    0.250    0.500000
26           (Rice)     (Milk, Beer)    0.250    0.500000

##### Filter the rules

In [38]:
nrules=rules[rules['confidence']>0.5]

In [39]:
nrules.shape

(15, 4)

In [40]:
nrules

        antecedents   consequents  support  confidence
0            (Rice)        (Beer)    0.500    1.000000
1            (Beer)        (Rice)    0.500    0.666667
3           (Apple)        (Beer)    0.375    0.750000
7     (Rice, Apple)        (Beer)    0.250    1.000000
8     (Beer, Apple)        (Rice)    0.250    0.666667
11        (Chicken)        (Rice)    0.250    1.000000
13        (Chicken)        (Beer)    0.250    1.000000
14  (Chicken, Beer)        (Rice)    0.250    1.000000
15  (Chicken, Rice)        (Beer)    0.250    1.000000
17        (Chicken)  (Rice, Beer)    0.250    1.000000
19           (Milk)        (Beer)    0.375    1.000000
22           (Milk)        (Rice)    0.250    0.666667
23     (Rice, Milk)        (Beer)    0.250    1.000000
25     (Milk, Beer)        (Rice)    0.250    0.666667
27           (Milk)  (Rice, Beer)    0.250    0.666667

In [41]:
nrules[nrules['antecedents']=={'Rice'}]

  antecedents consequents  support  confidence
0      (Rice)      (Beer)      0.5         1.0

In [42]:
nrules[nrules['antecedents']=={'Rice'}]['consequents']

0    (Beer)
Name: consequents, dtype: object

In [43]:
nrules[nrules['antecedents']=={'Apple','Beer'}]['consequents']

8    (Rice)
Name: consequents, dtype: object

###### Export the rules

In [44]:
nrules.to_csv('rules.csv',index=False)